In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [2]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [3]:
for i in range(1,len(df['FlightNumber'])):
    if pd.isnull(df.loc[i,'FlightNumber']):
         df.loc[i,'FlightNumber'] = df.loc[i-1,'FlightNumber']+ 10

In [4]:
df['FlightNumber']=df['FlightNumber'].astype(int)

In [5]:
df[['Started','Ended']] = df.From_To.str.split("_",expand=True)

In [6]:
df['Started']=df['Started'].apply(lambda x:x.capitalize())
df['Ended']=df['Ended'].apply(lambda x:x.capitalize())

In [7]:
del df['From_To']

In [8]:
delays = pd.DataFrame(df['RecentDelays'].values.tolist(),columns=['delay1','delay2','delay3'])

In [9]:
del df['RecentDelays']

In [15]:
df = pd.concat([df,delays],axis=1)

In [16]:
df

,FlightNumber,Airline,Started,Ended,delay1,delay2,delay3
0,10045,KLM(!),London,Paris,23.0,47.0,NaN
1,10055,<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075,12. Air France,Budapest,Paris,13.0,NaN,NaN
4,10085,"""Swiss Air""",Brussels,London,67.0,32.0,NaN